
<span>Test create component</span>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="mb-4">Δημιουργια ομάδας</h2>

            <div class="mb-3">
                <label for="form_name" class="form-label">Όνομα ομάδας</label>
                <input [(ngModel)]="team.name" type="text" class="form-control" id="form_name" placeholder="Όνομα ομάδας">
            </div>
            <div class="mb-3">
                <label for="form_logo" class="form-label">Λογότυπο</label>
                <input (change)="handleFile($event)" type="file" class="form-control" id="form_logo">
            </div>
            <div class="mb-3">
                <label for="form_points" class="form-label">Πόντοι</label>
                <input [(ngModel)]="team.points" type="number" class="form-control" id="form_points" placeholder="Πόντοι">
            </div>
            <div class="mb-3">
                <div class="text-end">
                    {{ teamService.createUploadPercentage }}%
                </div>
                <div class="progress">
                    <div 
                        class="progress-bar progress-bar-striped progress-bar-animated" 
                        role="progressbar" 
                        [style.width.%]="teamService.createUploadPercentage"
                    ></div>
                </div>
            </div>
            <div class="text-center">
                <button (click)="createTeam()" class="btn btn-success">
                    Αποθήκευση
                </button>
            </div>

        </div>
        <div class="col-6">
            <h2 class="mb-4">Preview</h2>

            <div class="text-center">
                <img [src]="team.logo" height="150"/>
                <div class="display-1">
                    {{ team.name }}
                </div>
                <div class="display-2 text-danger">
                    {{ team.points }}
                </div>
            </div>
        </div>
    </div>
</div>