<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo.png" height="24" class="d-inline-block align-text-top">
            <span class="praise ms-3">SUPER LEAGUE</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a routerLink="" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-link">
                    Home
                </a>
                <a routerLink="create" routerLinkActive="active" class="nav-link">
                    <i class="las la-plus-circle"></i> Create
                </a>
                <a routerLink="live-search" routerLinkActive="active" class="nav-link">
                    <i class="las la-search"></i> Live search
                </a>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>