<div class="container-fluid">
  <div class="row">
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
    <div class="col bg-warning text-center">
      Column
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
  </div>
  <div class="row">
    <div class="col">col</div>
    <div class="col bg-danger text-white">col</div>
    <div class="col">col</div>
  </div>
  <div class="row">
    <div class="col-4 p-5 bg-info">menu</div>
    <div class="col-8 p-5 text-white bg-secondary">content</div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="text-center">
        <img src="assets/images/logo.png" height="40" alt=""/>
        <span class="praise fs-1 ms-4">SUPER LEAGUE</span>
      </div>

      <button (click)="fetchTeams()" type="button" class="btn btn-primary">
        Primary
      </button>

      <table class="table my-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Team</th>
            <th scope="col">Pts</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let team of teams;let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td> 
              <img [src]="team.logo" height="25"/> 
              <span class="ms-3">{{ team.name }}</span>
            </td>
            <td>{{ team.points }}</td>
          </tr>
        
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col p-5 bg-dark text-white">footer</div>
  </div>
</div>